#blocklyArea {
  height: 100%;
  width: 100%;
  min-height:100%;
  background-color: cornflowerblue;
}

#blocklyDiv {
  height: 600px;
  width: 100%;
  min-height: 100%;
}

.full-size {
  width: 100%;
  height: 100%;
}

.dirty {
  background-color: #ffebe6;
}


no-display {
  display: none;
}